._container{
    .content {
        padding-top: 5rem;
        padding-right: 2.5rem;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 2rem;
        border-right: 2px solid $color-light-main-gray;
        h1 {
            font-size: $font-size-xl;
            line-height: 3.5rem;
            font-weight: $base-font-weight + 300;
            letter-spacing: 0.1rem;
        }
        h2 {
            font-size: $font-size-xl - 0.825rem;
            letter-spacing: 0.1rem;
            font-weight: $base-font-weight + 300;
        }
        h3 {
            font-size: $font-size-lg;
            letter-spacing: 0.1rem;
            font-weight: $base-font-weight + 300;
        }
        p {
            font-size: 1.2rem;
            line-height: 2.1rem;
            font-style: normal;
            font-weight: $base-font-weight - 100;
            color: rgba(32, 32, 38, 0.9);
            font-feature-settings: 'tnum' on, 'lnum' on, 'cv11' on, 'cv10' on, 'cv08' on, 'cv06' on, 'cv05' on, 'ss04' on, 'ss02' on, 'cpsp' on, 'cv09' on, 'cv07' on, 'cv01' on, 'cv02' on, 'cv03' on, 'cv04' on, 'salt' on;
        }
        img {
            max-width: 50rem;
            width: 100%;
            border-radius: 18px;
        }
        .boat-image {
            display: flex;
            flex-direction: column;
            gap: 0.5rem;
            span {
                font-size: 1.25rem;
                line-height: 1.875rem;
                font-weight: $base-font-weight - 100;
                color: #9A9BA1;
                margin: 0 auto;
            }
        }
    }

    .cards-list {
        padding-top: 5rem;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        gap: 6.25rem;
        padding-left: 2rem;
        h3 {
            font-weight: 600;
            font-size: 1.3rem;
            align-items: center;
            color: #404549;
            opacity: 0.6;
            font-feature-settings: 'cv11' on, 'cv10' on, 'cv08' on, 'cv06' on, 'cv05' on, 'ss04' on, 'ss02' on, 'cpsp' on, 'cv09' on, 'cv07' on, 'cv01' on, 'cv02' on, 'cv03' on, 'cv04' on, 'salt' on;
        }
        .card-columns {
            margin-left: auto;
            display: flex;
            flex-direction: column;
            gap: 1rem;
            @include little-card-styles;
        }
    }
}

@media screen and (max-width: 80rem) {
    ._container {
        .content {
            border-right: none;
            padding-right: 0;
            .boat-image {
                width: 100%;
            }
            img {
                max-width: 100%;
                width: 100%;
            }
        }
        .cards-list {
            padding-left: 0;
            margin-top: 5rem;
            border-top: 2px solid $color-light-main-gray;
            .card-columns {
                max-width: 100%;
                @include card-styles;
                .picture {
                    height: 100% !important;
                }
                .time-read {
                    font-size: $font-size-md - 0.25rem;
                }
                .description {
                    font-size: $font-size-md - 0.3rem;
                    font-weight: 400;
                }
            }
        }
    }   
}