.hero-section {
    display: flex;
    flex-direction: column;
    margin: 25vh auto 0;
    gap: 5rem;
    .hero-card-content {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        .card-content {
            .time-read {
                font-size: $font-size-md - 0.25rem;
                color: #404549;
                padding-bottom: 1rem;
                font-weight: $base-font-weight;
                .tag--black {
                    opacity: 1 !important;
                }
                .period {
                    padding-left: 0.75rem;
                    padding-right: 0.75rem;
                    opacity: 0.6;
                }
                .date {
                    padding-left: 1.5rem;
                    opacity: 0.6;
                }
                .upload-ago {
                    opacity: 0.6;
                }
            }
            h1 {
                font-size: 6.25rem;
                line-height: 7rem;
                font-weight: $base-font-weight + 300;
                letter-spacing: .15rem;
                padding-bottom: 1rem;
            }
        }
        .share-section {
            display: flex;
            flex-direction: column;
            gap: 1rem;
            .share {
                font-size: $font-size-md - 0.25rem;
                color: $color-light-gray-3;
            }
            .socials {
                display: flex;
                flex-direction: row;
                gap: 1rem;
                border: $border-socials;
                padding: 0.7rem 1rem;
                gap: 1rem;
                border-radius: 0.5rem;
                img {
                    cursor: pointer;
                }
            }
        }
    }
    img.halfboat {
        border-top-left-radius: 2.56rem;
        border-top-right-radius: 2.56rem;
        border: $border-half-boat;
        border-bottom: 0;
        max-width: 80rem;
        width: 100%;
    }
    .creator {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 1.5rem;
        img {
            border-radius: 1000px;
            width: 5.5rem;
            height: auto;
            background: #41424D;
            border: 8px solid #41424D;
            outline: 8px solid #9A9BA1;
        }
        .owner-info {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 0.5rem;
            p {
                font-size: $base-font-size;
            }
            .creator-name {
                font-weight: $base-font-weight + 100;
                font-size: $base-font-size + 0.5rem;
            }
            .cto {
                font-weight: $base-font-weight - 100;
            }
            .ig-tag {
                font-weight: $base-font-weight - 150;
                color: #9A9BA1;
            }
        }
    }
}

@media screen and (max-width: 80rem) {
    .hero-section {
        .hero-card-content {
            .card-content {
                .time-read {
                    font-size: $base-font-size;
                }
                h1 {
                    font-size: $font-size-xl + 1rem;
                    line-height: 5rem;
                }
            }
            .share-section {
                display: none;
            }
        }
    }
}