@mixin card-styles {
    .boat {
        padding-bottom: 1rem;
    }
    .time-read {
        font-size: $base-font-size;
        color: $color-light-gray-3;
        padding-bottom: 1rem;
        font-weight: 300;
        .period {
            padding-left: 0.75rem;
            padding-right: 0.75rem;
        }
    }
    h1 {
        font-size: $font-size-xl;
        font-weight: $base-font-weight + 300;
        letter-spacing: .15rem;
        padding-bottom: 1rem;
    }
    .description {
        font-size: $base-font-size + 0.1rem;
        line-height: 2rem;
        font-weight: $base-font-weight;
        padding-bottom: 1rem;
        color: #202026;
    }
    .profile {
        display: flex;
        flex-direction: row;
        gap: 1rem;
        align-items: center;
        p {
            font-size: $font-size-md - .35rem;
        }
    }
}

@mixin little-card-styles {
    max-width: 25rem;
    width: 100%;
    @include card-styles;
    .picture {
        margin-bottom: 1rem;
        width: 100%;
        object-fit: fill;
    }
    .time-read {
        padding-bottom: 0.725rem;
    }

    h1 {
        font-size: $font-size-md + 0.25rem;
        font-weight: $base-font-weight + 300;
        padding-bottom: 1rem;
        letter-spacing: 0.025rem;
    }
    .description {
        font-size: $base-font-size + 0.1rem;
        line-height: 2rem;
        font-weight: $base-font-weight - 100;
        padding-bottom: 1rem;
        color: $color-gray;
    }
}

@mixin boat-shadows {
    box-shadow: 254px 0 254px -4px #525a5a, -254px 0 254px -4px #525a5a;
}
