// Color Variables //

$color-main-gray: #666666;
$color-white: #fff;
$color-light-gray: #DADADD;
$color-light-gray-2: #BCCFF5;
$color-light-gray-3: #BDBCC2;
$color-gray: #404549;
$color-gray-2: #41424D;
$color-blackish: #212023;
$color-black-2: #202026;
$color-button: #111111;
$color-black: #000;
$color-light-main-gray: #f1f0f2;


// Linear Gradient Variables //
$linear-gradient-1: linear-gradient(181.65deg, #D7DDE7 -1.74%, rgba(154, 155, 161, 0.17) 97.62%);
$linear-gradient: linear-gradient(180deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0) 100%);

// Borders //

$border-socials: 3px solid #DBDADF;