.navbar {
    background-color: $color-white;
    max-width: 70vw;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    padding: 1rem 0;
    z-index: 999;
    .ruler {
        position: relative;
        top: -1.7rem;
        width: 70%;
    }
}

@media screen and (max-width: 80rem) {
    .navbar {
        .ruler {
            display: none;
        }
    }
}