.container {
    display: grid;
    margin: 25vh auto 0;
    grid-template-columns: 0.45fr 1.5fr;
    grid-gap: 1rem;
    gap: 1rem;
    border-top-color: $color-light-main-gray;
    border-top-width: 2px;
    border-top-style: solid;
}

.base_container{
    max-width: 80rem;
    width: 90vw;
}

@media screen and (max-width: 80rem) {
    .container {
        grid-template-columns: 1fr;
    }
}